* {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(45deg, #0a0a0a, #3a4452);
}
.text-center{
    text-align: center;
    padding: 10px 0;
    background-color: black;
    color: white;
    background-color: transparent;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 90vh;
    width: 100vw;
    align-items: center;
    justify-content: center;

}
.display{
    
    height: 30vh;
    width: 100%;
    background-color: #777;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 3rem;
    font-weight: 400;
}
.buttons{
    width: auto;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

}
.button{
    height: 11vh;
    width: 22vw;
    font-weight: 700;
    font-size: 2rem;
    border-radius: 12px;
    /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
}
.buttons .row .button{
    color: white;
}


@media(min-width: 768px){
    .container, .text-center{
        width: 50%;
        margin: 0 auto;
    }
    .button{
        height: 11vh;
        width: 11vw;
    }
}
@media (min-width: 1024px){
    
    .container, .text-center{
        width: 25%;
        margin: 0 auto;
    }
    .button{
        height: 11vh;
        width: 5.5vw;
        font-weight: 700;
        font-size: 2rem;
        border-radius: 12px;
        /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
    }

}
